@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', serif;
  transition: 1s ease-in-out;
}
#PAYSTACK-GATEWAY {
  font-family: 'Saira Stencil One', serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #730071;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
